{% extends "profile/base_profile.html" %}

{% block profile_content %}

    <style>

        .page-title {
            font-size: 28px;
            font-weight: 700;
            color: #3f332b;
            margin-bottom: 30px;
        }

        .orders-table {
            width: 100%;
            border-collapse: collapse;
            background: #fff;
            border: 1px solid #e4d6c8;
            border-radius: 16px;
            overflow: hidden;
        }

        .orders-table th {
        {#background: #f7f1eb;#} color: #6b4f3a;
            font-weight: 700;
            padding: 18px;
            font-size: 15px;
        }

        .orders-table thead {
            background: #f7f1eb;
        }

        .orders-table td {
            padding: 20px 18px;
            border-bottom: 1px solid #f1ebe6;
            font-size: 15px;
        }

        .orders-table tr:hover {
            background: #fcfaf8;
        }

        .orders-table tr:last-child td {
            border-bottom: none;
        }

        .orders-table th:last-child,
        .orders-table td:last-child {
            width: 160px;
            text-align: center;
        }

        .order-link {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            height: 42px;
            padding: 0 16px;

            background: #6b4f3a;
            color: white;

            border-radius: 10px;
            text-decoration: none;
            font-weight: 600;
        }

        .order-link:hover {
            background: #4f3929;
        }

        .order-actions {
            display: flex;
            gap: 10px;
            justify-content: flex-end;
            align-items: center;
        }

        .empty-orders {
            padding: 40px;
            text-align: center;
            background: #f7f1eb;
            border: 1px solid #e4d6c8;
            border-radius: 16px;
            color: #6b4f3a;
        }

        .status {
            display: inline-block;
            padding: 7px 14px;
            border-radius: 20px;
            font-size: 13px;
            font-weight: 700;
        }

        .status-new {
            background: #f7f1eb;
            color: #6b4f3a;
        }

        .status-paid {
            background: #e8f0ff;
            color: #3b5bcc;
        }

        .status-sent {
            background: #fff3cd;
            color: #856404;
        }

        .status-success {
            background: #e8f7ed;
            color: #2e7d32;
        }

        .status-cancel {
            background: #ffe5e5;
            color: #c0392b;
        }

        .cancel-btn {
            height: 42px;
            padding: 0 14px;

            border: none;
            border-radius: 10px;

            background: #c0392b;
            color: white;

            font-weight: 600;
            cursor: pointer;
        }

        .cancel-btn:hover {
            background: #a93226;
        }
    </style>

    <h1 class="page-title">
        Мои заказы
    </h1>

    {% if orders %}

        <table class="orders-table">

            <thead>
            <tr>
                <th>№ заказа</th>
                <th>Дата</th>
                <th>Статус</th>
                <th>Сумма</th>
                <th></th>
            </tr>
            </thead>

            <tbody>

            {% for order in orders %}

                <tr>
                    <td>#{{ order.id }}</td>

                    <td>
                        {{ order.created_at|date:"d.m.Y" }}
                    </td>
                    <td>

                        {% if order.status == 'done' %}
                            <span class="status status-success">
        {{ order.get_status_display }}
    </span>

                        {% elif order.status == 'delivery' %}
                            <span class="status status-sent">
        {{ order.get_status_display }}
    </span>

                        {% elif order.status == 'processing' %}
                            <span class="status status-paid">
        {{ order.get_status_display }}
    </span>

                        {% elif order.status == 'cancelled' %}
                            <span class="status status-cancel">
        {{ order.get_status_display }}
    </span>

                        {% else %}
                            <span class="status status-new">
        {{ order.get_status_display }}
    </span>
                        {% endif %}

                    </td>
                    <td>
                        {{ order.total_price }} ₽
                    </td>

                    <td>
                        <div class="order-actions">
                            <a href="{% url 'order_detail' order.id %}" class="order-link">
                                Подробнее
                            </a>

                            {% if order.status == 'new' or order.status == 'processing' %}
                                <form method="post"
                                      action="{% url 'cancel_order' order.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="cancel-btn">
                                        Отменить
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </td>
                </tr>

            {% endfor %}

            </tbody>

        </table>

    {% else %}

        <div class="empty-orders">
            У вас пока нет заказов
        </div>

    {% endif %}

{% endblock %}