.footer {

    background: #efe6da;

    border-radius: 14px;

    padding: 30px 25px 15px;

    width: 100%;
    max-width: 1700px;
    margin: 40px auto 0;
    box-sizing: border-box;
}

/* top */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: nowrap;
}

/* logo */
.footer-logo img {
    height: 150px;
    max-width: 100%;
}

.footer-logo,
.footer-links,
.footer-socials {
    flex: 0 0 auto;
    min-width: 200px;
}

.footer-links,
.footer-socials {
    max-width: 500px;
    overflow-wrap: break-word;
}

/* links */
.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-links a {
    color: #3a2f2a;
    text-decoration: none;

    font-size: 18px;
    font-weight: 600;

    padding: 8px 12px;
    border-radius: 10px;

    transition: 0.2s;
}

.footer-links a:hover {
    color: #a07c5a;
    background: #f3e9dc;
}

/* socials */
.footer-socials {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* icon button */
.social-icon {
    width: 56px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 16px;

    transition: 0.2s;
}

.social-icon:hover {
    background: #f3e9dc;
    transform: translateY(-3px);
}

/* images */
.social-icon img {
    width: 42px;
    height: 42px;
    object-fit: contain;
}

/* bottom */
.footer-bottom {
    margin-top: 25px;
    padding-top: 15px;

    border-top: 1px solid #ddd0bf;

    text-align: center;

    font-size: 14px;
    color: #7b6a5f;
}

@media (max-width: 1200px) {
    .footer-top {
        flex-wrap: wrap;
    }
}

@media (max-width: 1023px) {

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .footer-logo img {
        width: 220px;
        height: auto;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-socials {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        justify-content: center;
    }

    .footer-socials {
        justify-content: center;
    }
}