.header {
    background: #efe6da;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;

    flex-wrap: wrap;
    gap: 15px;
    position: relative;

}

/* logo */
.logo img {
    height: 100px;
}

/* nav */
.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

/* links */
.nav a {
    position: relative;

    color: #3a2f2a;
    text-decoration: none;

    font-size: 18px;
    font-weight: 600;

    padding: 10px 0;

    transition: 0.2s;
}

/* underline линия */
.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 0%;
    height: 2px;

    background: #a07c5a;

    transition: 0.3s ease;
}

/* hover линия */
.nav a:hover::after {
    width: 100%;
}

/* АКТИВНАЯ СТРАНИЦА */
.nav a.active::after {
    width: 100%;
}

/* icons */
.icons {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* icon button */
.icon {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 56px;
    height: 56px;

    border-radius: 12px;

    transition: background 0.2s ease;
}

/* hover фон */
.icon:hover {
    background: #f3e9dc;
}

/* icon image */
.icon img {
    width: 34px;
    height: 34px;
    object-fit: contain;

    transition: transform 0.2s ease;
}

/* zoom */
.icon:hover img {
    transform: scale(1.15);
}

/* badge */
.badge {
    position: absolute;
    top: 0;
    right: 0;

    background: #a07c5a;
    color: white;

    font-size: 11px;
    font-weight: bold;

    padding: 3px 7px;
    border-radius: 20px;
}

/* SEARCH */
.header-search {
    position: relative;

    display: flex;
    align-items: center;

    background: white;

    border-radius: 12px;

    overflow: hidden;

    width: 320px;

    flex-shrink: 0;
}

/* input */
.header-search input {
    border: none;
    outline: none;

    padding: 12px 14px;

    flex: 1;

    font-size: 15px;

    background: transparent;
}

/* крестик */
.clear-search {
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);

    width: 28px;
    height: 28px;

    border: none;
    background: transparent;

    font-size: 18px;
    color: #6b4f3a;

    cursor: pointer;

    display: none;
}

.clear-search:hover {
    color: #3a2f2a;
}

/* search button */
.header-search button {
    border: none;
    background: transparent;

    cursor: pointer;

    width: 52px;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search button img {
    width: 22px;
    height: 22px;
}

.messages-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.message {
    min-width: 320px;

    background: #6b4f3a;
    color: white;

    padding: 16px 24px;

    border-radius: 16px;

    font-size: 16px;
    font-weight: 600;

    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);

    animation: showMessage .3s ease;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* burger hidden on desktop */
.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* mobile menu */
.mobile-nav {
    display: none;
    flex-direction: column;
    gap: 10px;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    background: #efe6da;
    padding: 15px;
    z-index: 999;
}

.mobile-nav a {
    text-decoration: none;
    color: #3a2f2a;
    font-weight: 600;
    padding: 10px;
}

.mobile-nav.active {
    display: flex;
}


@keyframes showMessage {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1730px) {
    .header-search {
        width: 340px;
    }

    .logo img {
        height: 70px;
    }

    .icon {
        width: 48px;
        height: 48px;
    }

    .icon img {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 1024px) {

    .nav {
        display: none;
    }

    .burger {
        display: block;
    }

    .header {
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }

    .left-side {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .header-search {
        flex: 1;
        min-width: 200px;
        order: 3;
    }

    .icons {
        order: 2;
        gap: 10px;
    }
}

@media (max-width: 1000px) {
    .header-search {
        width: 300px;
    }

}