{% load static %}
<style>
    @media (max-width: 1023px) {

        .footer-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .footer-logo {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .footer-logo img {
            width: 180px; /* подбери 180-220px */
            height: auto;
        }

        .footer-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .footer-socials {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
</style>
<footer class="footer">

    <div class="footer-top">

        <!-- logo -->
        <div class="footer-logo">
            <img src="{% static 'media/../../static/images/../../static/icons/logo.png' %}" alt="logo">
        </div>

        <!-- links -->
        <div class="footer-links">

            <a href="/">Главная</a>

            <a href="/catalog/">
                Каталог
            </a>

            <a href="/about/">
                О нас
            </a>

            <a href="/reviews/">
                Отзывы
            </a>

        </div>

        <!-- socials -->
        <div class="footer-socials">

            <!-- Instagram -->
            <a href="https://www.instagram.com/rabiko_kids/"
               target="_blank"
               class="social-icon">

                <img src="{% static 'media/../../static/images/../../static/icons/inst.svg' %}" alt="instagram">

            </a>

            <!-- Telegram -->
            <a href="https://t.me/rabikokids"
               target="_blank"
               class="social-icon">

                <img src="{% static 'media/../../static/images/../../static/icons/tg.svg' %}" alt="telegram">

            </a>

            <!-- Wildberries -->
            <a href="https://www.wildberries.ru/brands/42387910-rabiko?utm_source=Instagram&utm_medium=glanez&utm_campaign=1118681-id-trafic_na_WB"
               target="_blank"
               class="social-icon">

                <img src="{% static 'media/../../static/images/../../static/icons/wb.png' %}" alt="wildberries">

            </a>

            <!-- Ozon -->
            <a href="https://ozon.onelink.me/SNMZ/ayiurnxv"
               target="_blank"
               class="social-icon">

                <img src="{% static 'media/../../static/images/../../static/icons/ozon.png' %}" alt="ozon">

            </a>

        </div>

    </div>

    <div class="footer-bottom">
        © 2026 Rabiko Kids. Все права защищены.
    </div>

</footer>