{% load static %}

<header class="header">

    <!-- logo -->
    <a href="/" class="logo">
        <img src="{% static 'media/icons/logo.png' %}" alt="logo">
    </a>

    <!-- nav -->
    <nav class="nav">

        <a href="/">Главная</a>
        <a href="/catalog/">Каталог</a>
        <a href="/about/">О нас</a>

    </nav>

    <!-- SEARCH -->
    <form action="/catalog/" method="GET" class="search-form">

        <input
                type="text"
                name="q"
                placeholder="Поиск товаров..."
                value="{{ request.GET.q }}"
        >

        <button type="submit">

            <img src="{% static 'media/icons/search.svg' %}" alt="search">

        </button>

    </form>

    <!-- icons -->
    <div class="icons">

        <a href="{% url 'favorites' %}" class="icon">
            <img src="{% static 'media/icons/heart.svg' %}" alt="favorites">
        </a>

        <a href="/cart/" class="icon cart-icon">

            <img src="{% static 'media/icons/cart.svg' %}" alt="cart">

            <span class="badge">
                0
            </span>

        </a>

        {% if user.is_authenticated %}

            <a href="{% url 'profile' %}" class="icon">
                <img src="{% static 'media/icons/profile.svg' %}" alt="profile">
            </a>

        {% else %}

            <a href="{% url 'login' %}" class="icon">
                <img src="{% static 'media/icons/profile.svg' %}" alt="login">
            </a>

        {% endif %}

    </div>

</header>