{% load static %}

<header class="header">

    <div class="left-side">
        <a href="/" class="logo">
            <img src="{% static 'icons/logo.png' %}" alt="logo">
        </a>

        <div class="burger" id="burger">☰</div>
    </div>

    <nav class="nav" id="navMenu">
        <a href="/" class="{% if request.path == '/' %}active{% endif %}">Главная</a>
        <a href="/catalog/" class="{% if '/catalog/' in request.path %}active{% endif %}">Каталог</a>
        <a href="/about/" class="{% if '/about/' in request.path %}active{% endif %}">О нас</a>
        <a href="/reviews/" class="{% if '/reviews/' in request.path %}active{% endif %}">Отзывы</a>
    </nav>

    <form action="/catalog/" method="GET" class="header-search" id="searchForm">
        <input type="text" name="q" id="searchInput" placeholder="Поиск товаров..." value="{{ request.GET.q }}">
        <button type="button" class="clear-search" id="clearSearch">✕</button>
        <button type="submit">
            <img src="{% static 'icons/search.svg' %}" alt="search">
        </button>
    </form>

    <div class="icons">
        <a href="{% url 'favorites' %}" class="icon">
            <img src="{% static 'icons/heart.svg' %}">
            <span class="badge badge-favorites">{{ favorites_count }}</span>
        </a>

        <a href="/cart/" class="icon">
            <img src="{% static 'icons/cart.svg' %}">
            <span class="badge badge-cart">{{ cart_count }}</span>
        </a>

        <a href="{% url 'profile' %}" class="icon">
            <img src="{% static 'icons/profile.svg' %}">
        </a>
    </div>

</header>

<!-- MOBILE NAV -->
<nav class="mobile-nav" id="mobileNav">

    <a href="/">Главная</a>
    <a href="/catalog/">Каталог</a>
    <a href="/about/">О нас</a>
    <a href="/reviews/">Отзывы</a>

</nav>

<script>
    /* SEARCH */
    const input = document.getElementById("searchInput");
    const clearBtn = document.getElementById("clearSearch");

    function toggleClear() {
        clearBtn.style.display = input.value.length > 0 ? "block" : "none";
    }

    input.addEventListener("input", toggleClear);

    clearBtn.addEventListener("click", () => {
        input.value = "";
        toggleClear();
        window.location.href = "/catalog/";
    });

    toggleClear();

    /* BURGER */
    const burger = document.getElementById("burger");
    const mobileNav = document.getElementById("mobileNav");

    burger.addEventListener("click", () => {
        mobileNav.classList.toggle("active");
    });
</script>